.home-Words h2 {
  width: 100%;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 5.5rem;
  font-weight: 400;
}

/* Conecte-se */
.aboutContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 676px;
}

.conect {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 506px;
  height: 100%;
  background-color: #242021;
}

.conect h1 {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffff;
}

.conect a {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #c7201a;
  margin-bottom: 20px;
}

.textConect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
}

.textConect a:hover {
  color: #ffff;
}

.logoJC {
  width: 417px;
  height: 311px;
}

.aboutMe {
  width: 100%;
  height: 100%;
  background-color: #010101;
  display: flex;
}

.textAbout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3em;
}

.illustration {
  width: 455px;
  height: 641px;
  margin-top: 2em;
}

.textAbout h1 {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  color: #ffff;
}

.textAbout p {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffff;
  max-width: 362px;
  text-align: left;
}

/* informações */

.creativeFrames {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1.5em;
}

.cleancode {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 5.5rem;
  font-weight: 400;
  text-align: left;
}

.frames {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 400;
  text-align: left;
}

.textCreative {
  display: flex;
  margin-bottom: 2em;
}

.textdiv {
  width: 750px;
  text-align: left;
}

.textdiv p {
  font-weight: 400;
  font-size: 13px;
  width: 350px;
  margin-bottom: 2em;
}

.textservices {
  width: 360px;
  text-align: left;
}

.textservices ul {
  padding: 0;
}

/* recentes projetos */

.container-recent {
  display: flex;
  justify-content: center;
}

.recentproject {
  width: 50%;
  background-color: #242021;
  color: #e3e3e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.recentproject h2 {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  color: #c7201a;
}

.recentproject h1 {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 5.5rem;
  font-weight: 400;
  max-width: 416px;
}

.recentproject h3 {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  color: #c7201a;
}

.recentproject p {
  max-width: 354px;
}

.recentproject ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.imageproject {
  width: 100%;
  height: 756px;
  background-color: black;
  background-image: url("https://drive.google.com/file/d/1EFs6Uv9aKjU0zeCNcpi-ndwDFIW_NGtb/view");
}

.imageproject img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  display: block;
}

/* Serviços */

.servicescontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.servicesTitle {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 5.5rem;
  font-weight: 400;
  max-width: 416px;
}

.ServicesList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.List {
  height: 255px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title {
  width: 22.5em;
  text-align: left;
}

.List h2 {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
}

.List h1 {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 400;
}

.keys {
  width: 11.25em;
  text-align: left;
}

.List ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.List ul li {
  max-width: 214px;
  color: #c7201a;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}

.number {
  width: 12rem;
}

.text {
  text-align: left;
  padding-left: 1em;
}

.List p {
  letter-spacing: -0.04em;
  max-width: 17em;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1;
}

.List img {
  width: 231px;
  height: 252px;
  background-color: #242021;
  object-fit: cover;
}

/* Footer */

footer {
  width: 100%;
  background-color: #010101;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
}

.footerContent {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 1em;
}

.footerContent button {
  font-family: "Anton", sans-serif;

  color: #ffff;
  background-color: #c7201a;
  border-radius: 10px;
}

.footerContent button:hover {
  border-color: #fff;
}

.footerContent h2 {
  font-size: 1em;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffff;
}

.footerContent h2:hover {
  color: #c7201a;
}

.footerContent ul {
  display: flex;
  padding: 0;
}

.footerContent ul li a {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #c7201a;
  margin-right: 10px;
}

.footerContent ul li a:hover {
  color: #ffff;
}

/* Extra pequeno (celulares menores que 576px) */
@media (max-width: 575.98px) {
  /* Estilos para celulares bem pequenos */
}

/* Pequeno (celulares em geral) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Estilos para celulares normais */
}

/* Médio (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Estilos para tablets */
}

/* Grande (notebooks) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Estilos para laptops */
}

/* Extra grande (desktops grandes) */
@media (min-width: 1200px) {
  /* Estilos para telas maiores */
}
